body {
  color : #000000;
  background : #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size : 11px;
}
a {
  text-decoration : underline;
  color : #0000ff;
}
#navcontainer, #moreinfo, #title {
  display : none;
}